* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body > #root > div {
    height: 100vh;
}

#header {
    background-color: #222f45;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    z-index: 3;
    padding-right: 2%;
}

a{
    text-decoration:none;
}
 
#header .title{
    margin:0;
    padding:0 1rem;
    color:white;
    font-size:1.5rem;
    font-weight:500;
}

#headerTitleImage {
    display:flex;
    align-items:center;
}

#headerTitleImage img {
    height:40px;
    width:auto;
    padding-left:1rem;
}
#header{
    height:50px;
}

#header .auth-level{
    display:flex;
    height:100%;
}

    #header .auth-level button {
        color: white;
        background-color: #222f45;
        font-size:1rem;
        border:none;
        cursor:pointer;
        padding:0 1rem;
    }
    #header .auth-level #welcome {
        display:flex;
        align-items:center;
    }

    #header .auth-level h1{
        color:white;
        font-weight:normal;
        font-size:0.9rem;
    }
        #header .auth-level button:focus {
            outline:none;
        }

        #header .auth-level button:hover {
            background-color: #11768A;
        }

#container{
    display:flex;
    flex-flow:column;
}
.logRegPage{
    display:flex;
    flex:1;
}

#landingPage {
    flex: 2;
    background-image: url("./assets/images/background.png");
    background-position: center;
    background-size: cover;
    color: white;
}

#logoTitle{
    display:flex;
    align-items:center;
}

#logoTitle h1 {
    font-size:3.5rem;
}

#landingPage h2{
    font-weight:normal;
    font-size:1.8rem;
    margin-bottom:3rem;
}

#landingPage p{
    font-size:1.2rem;
}

#logoTitle img {
    height:3.7rem;
    margin-right:0.5rem;
    width:3.7rem;
}

#landingContainer{
    padding:15%;
}

.logRegPanel {
    flex: 1;
    background-color:#F3f3f3;
}

.logRegPanel input{
    border-radius:8px;
    border:1px solid #d8d8d8;
}

.logRegPanel input[type="submit"]{
    background-color:#11768A;
    color:white;
    margin-top:10vh;
    cursor:pointer;
}

.logRegPanel .form {
    padding:0rem 5rem;
    
}

.logRegPanel .form #register-password{
    margin-bottom:1rem;
}

    
    .logRegPanel .form label,
    .logRegPanel .form input {
        display:block;
        width:100%;
    }


    .logRegPanel .form label{
        color:#4f4f4f;
        font-size:0.8rem;
        padding-top:1rem;
        margin-bottom:0.2rem;
    }


    .logRegPanel .form input {
        padding:0.2rem;
        height:2rem;
    }

        
    .logRegPanel h3{
        text-align:center;
        font-weight:normal;
        margin-top:20%;
        color:#7a7a7a;
    }


    .error-notice{
        background-color:#f19999;
        margin:0rem 5rem;
        margin-top:1rem;
        display:flex;
        justify-content:space-between;
        padding:5px;
        border-radius:8px;
        color:#691f1f;
        font-size:0.8rem;
        padding-left:1rem;
        align-items:center;
    }

        .error-notice button {
            border-radius: 50%;
            width: 1rem;
            height: 1rem;
            font-size: 0.5rem;
            border: none;
            color: white;
            cursor: pointer;
            background-color: #691f1f;
        }

#bookShelf{
    padding: 2rem 2rem;
}

#bookShelf h2, hr{
    margin-bottom:1rem;
}




#emptyShelf{
    text-align:center;
    width:100%;
}

#emptyShelf h2{
    margin-bottom:1rem;
}

#emptyShelf img{
    width:15rem;
    height:auto;
}


#BannerImage {
    z-index:1;
    background-image: url("./assets/images/Banner.png");
    background-position: center;
    color:white;
    padding-left:2rem;
    padding-top:3rem;
    padding-bottom:3rem;
}

#BannerImage h1{
    font-size:4rem;
}

#bookshelfTitle {
    display:flex;
    justify-content:space-between;
}

#search input {
    margin-left:1rem;
    padding:0.5rem;
    border-radius:8px;
    border:none;
    width:20vw;
    margin-right:0.4rem;
}

#search button {
    cursor:pointer;
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #11768A;
}

.shelf {
    padding:1rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
}

.BookEntry {
    display: flex;
    background-color: #f5f5f5;
    padding: 1rem;
    box-shadow: 10px 10px 9px -7px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.bookDetails {
    display:flex;
    position:relative;
    flex-direction:column;
}

.BookEntry img {
    width:8rem;
    height:auto;
}

.bookDetails h2 {
    font-size:1.2rem;
    margin-left:0.8rem;
    margin-bottom:0.4rem;
}

    .bookDetails h3 {
        font-size: 1rem;
        margin-left: 0.8rem;
        margin-bottom: 0.4rem;
    }

    .Genre{
        background-color: #7a7a7a;
        margin-left:0.8rem;
        padding:0.2rem;
        color:white;
        font-size:0.8rem;
        font-weight:normal;
        border-radius:4px;
        width:6vw;
        text-align:center;
        height:1.5rem;
    }

.bookDetails button {
    margin-left: 1.5rem;
    padding: 0.5rem 0rem;
    border: none;
    border-radius: 8px;
    background-color: #11768A;
    color:white;
    font-size:0.8rem;
    width:80%;
    bottom: 0;
    position: absolute;
}

.loading{
    text-align:center;
    margin-top:10%;
}

.loading img{
    width:2rem;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor:default;
    background-color:#4f4f4f;
    color:#7a7a7a;
}